@import '../../../shared/assets/styles/abstracts/variables'
@import '../../../shared/assets/styles/abstracts/mixins'

.head
  position: relative
  top: 25%
  text-transform: uppercase
  display: flex
  flex-direction: column
  align-items: center

  &__title
    font-weight: 900
    color: $white

    div
      position: relative
      opacity: 0

      animation-duration: 2.7s
      animation-timing-function: ease
      animation-fill-mode: forwards
      animation-delay: 0.7s

    div:first-child
      font-size: 76px
      letter-spacing: 0
      transform: translateX(-100%)
      animation-name: appearFromLeft

    div:last-child
      font-size: 56px
      margin-left: 3rem
      transform: translateX(100vw)
      letter-spacing: 13px
      animation-name: appearFromRight

  &__button
    @include custom-button
    font-size: 36px
    text-decoration: underline
    color: $orange
    margin-top: 3rem
    transform: translateY(-100%)
    opacity: 0

    animation-name: appearFromBottom
    animation-duration: 1s
    animation-timing-function: ease
    animation-fill-mode: forwards

@keyframes appearFromLeft
  to
    transform: translateX(0)
    letter-spacing: 49px
    opacity: 1

@keyframes appearFromRight
  to
    transform: translateX(0)
    opacity: 1

@keyframes appearFromBottom
  to
    transform: translateY(0)
    opacity: 1
